{%- assign number_string = include.number | split: '' -%}
{%- assign total_digits = number_string.size -%}
{%- assign commify_number = '' -%}

{%- for i in (1..total_digits) -%}
  {%- assign index = total_digits | minus: i -%}
  {%- assign digit = number_string[index] -%}

  {%- assign position = index -%}
  {%- assign remainder = position | modulo: 3 -%}

  {%- if remainder == 0 and i != 1 -%}
    {%- assign commify_number = digit | append: ',' | append: commify_number -%}
  {%- else -%}
    {%- assign commify_number = digit | append: commify_number -%}
  {%- endif -%}
{%- endfor -%}

{{- commify_number -}}
